body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.nav{
	font-weight: 600;
	font-size: 35px;
}
.job-title{
	font-weight: 600;
	font-size: 25px;
}
.small-header{
	font-weight: 300;
	color: black!important;
	font-size: 18px;
}
.text{
	font-size: 20px;
	color: black;
}

.bg-light{
	background: white!important;
	padding: 35px 0px 35px 0px;
}

.btn-theme{
	background: #5F27CD;
	color: white;
	border-radius: 7px;
	padding: 10px;
	transition: 0.2s;
	font-weight: 600;
}
.btn-theme:hover{
	background: #5224AE;
	color: white;
	border-radius: 7px;
	padding: 10px;
}
.btn-theme-second{
	background: #BDC3C7;
	color: black;
	border-radius: 7px;
	padding: 10px;
	transition: 0.2s;
	font-weight: 600;
}
.btn-theme-second:hover{
	background: #9DA3A7;
	color: black;
	border-radius: 7px;
	padding: 10px;
}

.floats{
	border-radius: 7px;
	background-color: #ECF0F1;
	margin-bottom: 25px;
	padding: 20px;
	width:100%;
	
}